body {
  padding: 0;
  margin: 0;
  font-family: helivatica, sans-serif;
}
h1
{font-family: Trebuchet MS", Helvetica, sans-serif;

}
h2
{font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 36px;
}
h3
{font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 28px;}
h4
{font-family: "Trebuchet MS", Helvetica, sans-serif}
p{font-family: sans-serif;
font-size: 17px;}

header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

/*footer */
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#social a{color: #fff}
#contact a{color: #fff}
#contact, #social, #quick-links{color: #fff;}
#quick-links a{color: #fff}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 5px;
}*/

footer {
  height: 70px;	
}

header img {
  width: 80px;
  height: 50px;
}

nav ul,
nav li a {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

/* Home Page */

#index-main-content {
  width: 90%;
  margin: 30px auto;
}

.owl-carousel img {
  height: 75vh;
}

/* Rides Page */

#rides-main-content {
  width: 90%;
  margin: 30px auto;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #333;
  width: 30%;
  padding: 20px;
}

.nav-item,
.nav-item a {
  margin: 0 20px;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.rides-detail {
  display: flex;
  flex-direction: row;
}

#thriller-btn {
  text-decoration: underline;
}


#rides-kids,
#rides-water {
  display: none;
}

/* Tickets Page */

#ticekts-main-content {
  width: 90%;
  margin: 100px auto 50px;
}

#plans {
  display: flex;
  flex-direction: row;
}

#map-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.plan {
  margin: 20px;
  text-align: center;
}

.plan a {
  background-color: #333;
  color: #fff;
  height: 30px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
